@model BookingOverviewViewModel
@{
    Layout = "_Layout.cshtml";
    ViewData["Name"] = "Create";
}

<h2>Ny booking for ...</h2>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Booking" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Booking.LokaleId"/>
            <input type="hidden" asp-for="Booking.PersonId"/>
            <div class="form-group">
                <label asp-for="Booking.BookingPeriodeStart" class="form-label"></label>
                <input asp-for="Booking.BookingPeriodeStart" type="date" class="form-control" value="2021-01-01"/>
                <br/>
                <label asp-for="Booking.BookingPeriodeSlut" class="form-label"></label>
                <input asp-for="Booking.BookingPeriodeSlut" type="date" class="form-control" value="2021-01-01"/>
                <br/>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Opret booking" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>
<br/>
<br/>

<h2>Eksisterende bookinger:</h2>
<hr/>
<form asp-controller="Booking" asp-action="UpdateOverview">
    <input type="hidden" asp-for="Booking.LokaleId"/>
    <label>Vælg måned: </label>
    <select asp-for="SearchMonth">
        @for (var i = 0; i < Model.Months.Length; i++)
        {
            if (Model.SearchMonth == i + 1)
            {
                <option value="@i" selected>@Model.Months[i]</option>
            }
            else
            {
                <option value="@i">@Model.Months[i]</option>
            }
        }
    </select>
    <label>Vælg år: </label>
    <select asp-for="SearchYear">
        @for (var i = DateTime.Now.Year; i < DateTime.Now.Year + 3; i++)
        {
            if (Model.SearchYear == i)
            {
                <option value="@i" selected>@i</option>
            }
            else
            {
                <option value="@i">@i</option>
            }
        }
    </select>
    <input type="submit" value="Opdater" class="btn btn-primary"/>
</form>
<br/>
<br/>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ExistingBookinger.First().BookingPeriodeStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExistingBookinger.First().BookingPeriodeSlut)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var booking in Model.ExistingBookinger) {
        <tr>
            <td>
                @Html.DisplayFor(modelitem => booking.BookingPeriodeStart)
            </td>
            <td>
                @Html.DisplayFor(modelitem => booking.BookingPeriodeSlut)
            </td>
        </tr>
    }
    </tbody>
</table>

<div>
    <a asp-controller="Booking" asp-action="Index">Tilbage til lokaleoversigten.</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


@*
<h2>Eksisterende bookinger:</h2>
<hr/>
<label>Vælg måned: </label>
<select asp-for="SearchDate.Month">
    <option value="12" selected>December</option>
    <option value="1">Januar</option>
    <option value="2">Februar</option>
</select>
<label>Vælg år: </label>
<select asp-for="SearchDate.Year">
    <option value="2021" selected>2021</option>
    <option value="2022">2022</option>
    <option value="2023">2023</option>
</select>
<a asp-controller="Booking" asp-action="Create" asp-route-id="@Model.Booking.LokaleId">
    <input type="button" value="Opdater" class="btn btn-primary"/>
</a>
<br/>
<br/>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ExistingBookinger.First().BookingPeriodeStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExistingBookinger.First().BookingPeriodeSlut)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var booking in Model.ExistingBookinger) {
        <tr>
            <td>
                @Html.DisplayFor(modelitem => booking.BookingPeriodeStart)
            </td>
            <td>
                @Html.DisplayFor(modelitem => booking.BookingPeriodeSlut)
            </td>
        </tr>
    }
    </tbody>
</table>    *@