@model List<EjendomWithLokalerViewModel>
@{
    ViewData["Title"] = "Booking";
    Layout = "_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Lokaleoversigt <a class="MineBookinger" asp-controller="Booking" asp-action="Delete">
        <input type="button" value="Mine bookinger" class="btn btn-primary"/></a></h1>
</div>
<br/>
<div class="row">
    @foreach (var ejendom in Model)
    {
        <div class="ejendom_container">
            <div class="ejendom_header">
                <p class="ejendom_title">@ejendom.Ejendom.Adresse - @ejendom.Ejendom.Postnr @ejendom.Ejendom.By</p>
            </div>
            @foreach (var lokale in ejendom.Lokaler)
            {
                <div class="lokale_entry">
                    <div class="lokale_info lokale_type"><p>@lokale.Navn</p></div>
                    <div class="lokale_info lokale_adresse"><p>@lokale.Adresse (@lokale.Etage)</p></div>
                    <div class="lokale_info lokale_badevaerelse">
                        @if (lokale.Badevaerelse) { <img src="../img/toilet_icon.png"/> }
                    </div>
                    <div class="lokale_info lokale_koekken">
                        @if (lokale.Koekken) { <img src="../img/kitchen_icon.png"/> }
                    </div>
                    <div class="lokale_info lokale_booking">
                        <a asp-controller="Booking" asp-action="Create" asp-route-id="@lokale.Id">
                            <input type="button" value="Foretag booking" class="lokale_button btn" />
                        </a>
                    </div>
                </div>
            }
        </div>
    }
</div>