@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model BookingOverviewViewModel
@{
    Layout = "_Layout.cshtml";
    ViewData["Name"] = "Create";
}
<h1>Sletning af bookning for ...</h1>
<br/>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ExistingBookinger.First().BookingPeriodeStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExistingBookinger.First().BookingPeriodeSlut)
        </th>
        <th>
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var booking in Model.ExistingBookinger)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelitem => booking.BookingPeriodeStart)
            </td>
            <td>
                @Html.DisplayFor(modelitem => booking.BookingPeriodeSlut)
            </td>
            <td>
                <a asp-controller="Booking" asp-action="Delete" asp-route-id="@booking.Id">Slet</a> 
            </td>
        </tr>
    }
    </tbody>

</table>
<div>
    <a asp-controller="Booking" asp-action="Index">Tilbage til lokaleoversigten.</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

