@model OpslagEjendommeViewModel
@{
    Layout = "~/Views/Dashboard/_SharedLayout.cshtml";
    ViewData["Name"] = "Edit";
}

<div class="row">
    <div class="col">
        <h1>Rediger opslag</h1>
        <hr />
        <form asp-controller="BAOpslag" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Opslag.Dato" />
            <input type="hidden" asp-for="Opslag.Id" />
            <div class="form-floating">
                <input asp-for="Opslag.Titel" class="form-control"/>
                <label asp-for="Opslag.Titel" class="form-label"></label>
                <span asp-validation-for="Opslag.Titel" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <textarea asp-for="Opslag.Besked" class="form-control" style="height: 200px;"></textarea>
                <label asp-for="Opslag.Besked" class="form-label"></label>
                <span asp-validation-for="Opslag.Besked" class="text-danger"></span>
            </div>
            <label asp-for="Opslag.EjendomIds" class="form-label"></label>
            <select multiple asp-for="Opslag.EjendomIds" style="width: 100%; height: 200px">
                @foreach (var ejendom in Model.Ejendomme)
                {
                    if (Model.Opslag.EjendomIds.Contains(ejendom.Id))
                    {
                        <option selected value="@ejendom.Id">@ejendom.Adresse (@ejendom.By @ejendom.Postnr)</option>
                    }
                    else
                    {
                        <option value="@ejendom.Id">@ejendom.Adresse (@ejendom.By @ejendom.Postnr)</option>
                    }
                }
            </select>
            <div class="form-floating"></div>
            <button type="submit" class="btn btn-lg btn-primary bw_button bw_button_inline">Gem ændringer</button>
            <a asp-controller="BAOpslag" asp-action="Index">
                <input type="button" value="Tilbage til oversigten" class="btn btn-lg btn-primary bw_button bw_button_inline"/>
            </a>
        </form>
    </div>
    <div class="col"></div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}