@model List<OpslagViewModel>
@{
    ViewData["Name"] = "Index";
    Layout = "~/Views/Dashboard/_SharedLayout.cshtml";
}

<h1>Opslagstavle - Information og nyheder</h1>
<hr/>
<table class="table">
	<thead>
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.First().Dato)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.First().Ejendomme)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.First().Titel)
        </th>		
        <th>
            @Html.DisplayNameFor(model => model.First().Besked)
        </th>
        <th></th>
	</tr>
	</thead>
	<tbody>
	@foreach (var opslag in Model) {
		<tr>
			<td>
				@Html.DisplayFor(modelItem => opslag.Dato)
			</td>
			<td>
				@if (opslag.Ejendomme.Count == 1)
				{
				    <p>@opslag.Ejendomme[0].Adresse (@opslag.Ejendomme[0].Postnr @opslag.Ejendomme[0].By)</p>
				}
				else if (opslag.Ejendomme.Count > 1)
				{
				    <p>Sendt til flere ejendomme</p>
				}
			</td>
            <td>
                @Html.DisplayFor(modelItem => opslag.Titel)
            </td>
            <td>
				@opslag.GetBeskedPreview()
            </td>
			<td>
				<a asp-controller="Opslagstavle" asp-action="Details" asp-route-id="@opslag.Id">Læs hele opslaget</a> 
			</td>
		</tr>
	}
	</tbody>
</table>
