@model BookingOverviewViewModel
@{
    Layout = "~/Views/Dashboard/_SharedLayout.cshtml";
    ViewData["Name"] = "Create";
}

<h2>Ny booking for @Model.Booking.Lokale.Navn på @Model.Booking.Lokale.Adresse (@Model.Booking.Lokale.Etage)</h2>
<hr/>
<div class="row">
    <div class="bw_lokaleinfo">
        <p>Lokalet har et areal på @Model.Booking.Lokale.Areal &#13217. </p> 
        @if (Model.Booking.Lokale.Badevaerelse) { <p>Lokalet har toiletfaciliteter. </p>}
        @if (Model.Booking.Lokale.Koekken) { <p>Lokalet har køkkenfaciliteter. </p>}
        @if (Model.Booking.Lokale.Timepris > 0) { <p>Lokalet koster @Model.Booking.Lokale.Timepris kr. i timen. </p> }
        else { <p>Lokalet er gratis at booke. </p> }
    </div>
    <div class="col">
        <form asp-controller="Booking" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Booking.LokaleId"/>
            <input type="hidden" asp-for="Booking.PersonId"/>
            <div class="form-floating">
                <input asp-for="Booking.BookingPeriodeStart" type="date" class="form-control" value="@Model.GetDateString()"/>
                <label asp-for="Booking.BookingPeriodeStart" class="form-label"></label>
                <span asp-validation-for="Booking.BookingPeriodeStart" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Booking.BookingPeriodeSlut" type="date" class="form-control" value="@Model.GetDateString()"/>
                <label asp-for="Booking.BookingPeriodeSlut" class="form-label"></label>
                <span asp-validation-for="Booking.BookingPeriodeSlut" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-lg btn-primary bw_button bw_button_inline">Opret booking</button>
            <a asp-controller="Booking" asp-action="Index">
                <input type="button" value="Tilbage til oversigten" class="btn btn-lg btn-primary bw_button bw_button_inline"/>
            </a>
        </form>
    </div>
    <div class="col"></div>
</div>
<br/>
<br/>

<h2>Eksisterende bookinger:</h2>
<hr/>
<form asp-controller="Booking" asp-action="UpdateOverview">
    <input type="hidden" asp-for="Booking.LokaleId"/>
    <label>Vælg måned: </label>
    <select asp-for="SearchMonth">
        @for (var i = 1; i < Model.Months.Length + 1; i++)
        {
            if (Model.SearchMonth == i)
            {
                <option value="@i" selected>@Model.Months[i - 1]</option>
            }
            else
            {
                <option value="@i">@Model.Months[i - 1]</option>
            }
        }
    </select>
    <label>Vælg år: </label>
    <select asp-for="SearchYear">
        @for (var i = DateTime.Now.Year; i < DateTime.Now.Year + 3; i++)
        {
            if (Model.SearchYear == i)
            {
                <option value="@i" selected>@i</option>
            }
            else
            {
                <option value="@i">@i</option>
            }
        }
    </select>
    <input type="submit" value="Opdater" class="btn btn-primary bw_button"/>
</form>
<br/>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ExistingBookinger.First().BookingPeriodeStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExistingBookinger.First().BookingPeriodeSlut)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var booking in Model.ExistingBookinger) {
        <tr>
            <td>
                @Html.DisplayFor(modelitem => booking.BookingPeriodeStart)
            </td>
            <td>
                @Html.DisplayFor(modelitem => booking.BookingPeriodeSlut)
            </td>
        </tr>
    }
    </tbody>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}