@model MineBookingerViewModel
@{
    Layout = "~/Views/Dashboard/_SharedLayout.cshtml";
    ViewData["Name"] = "Create";
}
<h1>Mine bookinger</h1>
<br/>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Bookinger.First().Lokale.Adresse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bookinger.First().Lokale.Navn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bookinger.First().BookingPeriodeStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bookinger.First().BookingPeriodeSlut)
        </th>
        <th>
        </th>
    </tr>
    </thead>
    <tbody>
    <form asp-controller="Booking" asp-action="Delete">
        @foreach (var booking in Model.Bookinger)
        {
            <tr>
                <td>
                    @Html.DisplayFor(item => booking.Lokale.Adresse)
                </td>
                <td>
                    @Html.DisplayFor(item => booking.Lokale.Navn)
                </td>
                <td>
                    @Html.DisplayFor(item => booking.BookingPeriodeStart)
                </td>
                <td>
                    @Html.DisplayFor(item => booking.BookingPeriodeSlut)
                </td>
                <td>
                    <input type="hidden" asp-for="@booking.Id"/>

                    <input type="submit" value="Slet" class="btn btn-primary bw_button"/>
                </td>
            </tr>
        }
    </form>
    </tbody>

</table>
<a asp-controller="Booking" asp-action="Index">
    <input type="button" value="Gå til lokaleoversigten" class="btn btn-lg btn-primary bw_button"/>
</a>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

