@model LejerBrugerViewModel

@{
    ViewData["Name"] = "Edit";
    Layout = "~/Views/Dashboard/_SharedLayout.cshtml";
}

<h1>Redigering af lejemål</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="BALejer" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Lejer.Id"/>
            <input type="hidden" asp-for="Lejer.LejemaalId"/>
            <div class="form-group">
                <label asp-for="Lejer.LejeperiodeStart" class="form-label"></label>
                <input asp-for="Lejer.LejeperiodeStart" type="date" class="form-control"/>
                <br/>
                <label asp-for="Lejer.LejeperiodeSlut" class="form-label"></label>
                <input asp-for="Lejer.LejeperiodeSlut" type="date" class="form-control"/>
                <br/>
                <label asp-for="Lejer.PersonIds" class="form-label"></label>
                <select multiple asp-for="Lejer.PersonIds" class="mdb-select md-form" style="width: 100%">
                    @foreach (var bruger in Model.Brugere)
                    {
                        @if (Model.Lejer.PersonIds.Contains(bruger.Id))
                        {
                            <option selected value="@bruger.Id">@bruger.Email (@bruger.Fornavn @bruger.Efternavn)</option>
                        }
                        else
                        {
                            <option value="@bruger.Id">@bruger.Email (@bruger.Fornavn @bruger.Efternavn)</option>
                        }
                    }
                </select>
                <br/>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Gem" class="btn btn-primary bw_button" />
            </div>
        </form>
    </div>
</div>
<br/>
<div>
    <a asp-controller="BALejer" asp-action="IndexByLejemaal" asp-route-id="@Model.Lejer.LejemaalId">Tilbage til oversigt.</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
