@model LejemaalLejerViewModel
@{
    ViewData["Name"] = "Index";
    Layout = "~/Views/Dashboard/_SharedLayout.cshtml";
}

<h1>Lejeroversigt for @Model.Lejemaal.Adresse (@Model.Lejemaal.Etage)</h1>
<br/>
<a asp-controller="BALejer" asp-action="Create" asp-route-id="@Model.Lejemaal.Id">
    <input type="button" value="Opret lejer" class="btn btn-primary bw_button" />
</a>
<br/>
<table class="table">
	<thead>
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.Lejere.First().LejeperiodeStart)
		</th>
        <th>
            @Html.DisplayNameFor(model => model.Lejere.First().LejeperiodeSlut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lejere.First().LejerNavne)
        </th>
        <th></th>
	</tr>
	</thead>
	<tbody>
	@foreach (var item in Model.Lejere) {
		<tr>
            <td>
                @Html.DisplayFor(modelitem => item.LejeperiodeStart)
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.LejeperiodeSlut)
            </td>
            <td>
                @foreach (var navn in item.LejerNavne)
                {
                    @Html.DisplayFor(modelitem => navn)
                }
            </td>
            <td>
                <a asp-controller="BALejer" asp-action="Edit" asp-route-id="@item.Id">Rediger</a>
            </td>
        </tr>
	}
	</tbody>
</table>
