@model List<LejemaalLejerViewModel>

@{
    ViewData["Name"] = "Details";
    Layout = "../_LejerLayout.cshtml";
}

<h1>Detaljer om dit/dine lejemål</h1>
<h1></h1>
<h2>Aktive lejemål</h2>
<div class="myDiv">
@foreach (var item in Model)
{
    @foreach (var lejer in item.Lejere)
    {
        @if (DateTime.Now > lejer.LejeperiodeStart && DateTime.Now < lejer.LejeperiodeSlut)
        {
            <button type="button" class="collapsible">@item.Lejemaal.Adresse</button>
            <div class="content">
                <div class="div_info div_kortData">
                    <p>
                        Etage:<br/>@item.Lejemaal.Etage
                    </p></div>
                <div class="div_info div_kortData">
                    <p>
                        Husleje:<br/>@item.Lejemaal.Husleje
                    </p></div>
                <div class="div_info div_kortData">
                    <p>
                        Areal:<br/>@item.Lejemaal.Areal
                    </p></div>
                <div class="div_info div_langData">
                    <p>Lejeperiode start:<br/>@lejer.LejeperiodeStart.ToString("dd-MM-yyyy")</p></div>
                <div class="div_info div_langData">
                    <p>Lejeperiode slut:<br/>@lejer.LejeperiodeSlut.ToString("dd-MM-yyyy")</p></div>

                <div class="div_info div_kortData">
                    @if (item.Lejemaal.Koekken)
                    {
                        <p>Køkken:<br/>Ja</p>
                    }
                    else
                    {
                        <p>Køkken:<br/>Nej</p>
                    }
                </div>
                <div class="div_info div_kortData">
                    @if (item.Lejemaal.Badevaerelse)
                    {
                        <p>Badeværelse:<br/>Ja</p>
                    }
                    else
                    {
                        <p>Badeværelse:<br/>Nej</p>
                    }
                </div>
            </div>
        }
        else
        {
            <br/>
            <h2>Gamle lejemål</h2>
            <button type="button" class="collapsible">@item.Lejemaal.Adresse</button>
            <div class="content">
                <div class="div_info div_kortData">
                    <p>
                        Etage:<br/>@item.Lejemaal.Etage
                    </p></div>
                <div class="div_info div_kortData">
                    <p>
                        Husleje:<br/>@item.Lejemaal.Husleje
                    </p></div>
                <div class="div_info div_kortData">
                    <p>
                        Areal:<br/>@item.Lejemaal.Areal
                    </p></div>
                <div class="div_info div_langData">
                    <p>Lejeperiode start:<br/>@lejer.LejeperiodeStart.ToString("dd-MM-yyyy")</p></div>
                <div class="div_info div_langData">
                    <p>Lejeperiode slut:<br/>@lejer.LejeperiodeSlut.ToString("dd-MM-yyyy")</p></div>
                <div class="div_info div_kortData">
                    @if (item.Lejemaal.Koekken)
                    {
                        <p>Køkken:<br/>Ja</p>
                    }
                    else
                    {
                        <p>Køkken:<br/>Nej</p>
                    }
                </div>

                <div class="div_info div_kortData">
                    @if (item.Lejemaal.Badevaerelse == true)
                    {
                        <p>Badeværelse:<br/>Ja</p>
                    }
                    else
                    {
                        <p>Badeværelse:<br/>Nej</p>
                    }
                </div>
            </div>
        }
    }
}

    <script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.maxHeight){
                content.style.maxHeight = null;
            } else {
                content.style.maxHeight = content.scrollHeight + "px";
            }
        });
    }
</script>