@model UserPolicyViewModel

@{
    ViewData["Name"] = "Edit Claims";
    Layout = "~/Views/Dashboard/_SharedLayout.cshtml";
}

<div class="row">
    <div class="col">
        <h1>Rollehåndtering for @Model.Email</h1>
        <hr />
        <form asp-controller="BAPerson" asp-action="EditClaims">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BrugerId" />
            <label>Sæt kryds ved relevante roller:</label>
            <div class="form-floating"></div>
            <input asp-for="@Model.IsVV" class="form-check-input" />
            <label class="form-check-label" asp-for="@Model.IsVV">
                Vicevært
            </label>
            <div class="form-floating"></div>
            <input asp-for="@Model.IsBA" class="form-check-input" />
            <label class="form-check-label" asp-for="@Model.IsBA">
                Boligadministrator
            </label>
            <div class="form-floating"></div>
            <button type="submit" class="btn btn-lg btn-primary bw_button bw_button_inline">Gem ændringer</button>
            <a asp-controller="BAPerson" asp-action="Index">
                <input type="button" value="Tilbage til oversigten" class="btn btn-lg btn-primary bw_button bw_button_inline"/>
            </a>
        </form>
    </div>
    <div class="col"></div>
</div>