@model List<BrugerViewModel>
@{
    ViewData["Name"] = "Index";
    Layout = "~/Views/Dashboard/_SharedLayout.cshtml";
}

<h1>Oversigt over brugere</h1>
<br/>
<p>
    <a asp-controller="BAPerson" asp-action="Create">
        <input type="button" value="Opret ny person" class="btn btn-primary bw_button" />
    </a>
</p>
<table class="table">
	<thead>
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.First().Email)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.First().Fornavn)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.First().Efternavn)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.First().Telefonnr)
		</th>		
		@*<th>
			@Html.DisplayNameFor(model => model.First().Rolle)
		</th>*@
		<th></th>
	</tr>
	</thead>
	<tbody>
	@foreach (var item in Model) {
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Email)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Fornavn)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Efternavn)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Telefonnr)
			</td>
			@*<td>
				@Html.DisplayFor(modelItem => item)
			</td>*@
			<td>
				<a asp-controller="BAPerson" asp-action="Edit" asp-route-id="@item.Id">Rediger</a> |
				@*<a asp-action="Details" asp-route-id="@item.Id">Detaljer</a> |*@
				<a asp-controller="BAPerson" asp-action="EditPolicies" asp-route-id="@item.BrugerId">Roller</a>
			</td>
		</tr>
	}
	</tbody>
</table>
